* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Sofia Sans";
  background-color: #000;
  color: white;
  cursor: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto 7%;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.contact-box {
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 30%;
  height: 135px;
  background: rgba(10, 20, 40, 0.25);
  backdrop-filter: blur(30px) saturate(180%);
  z-index: 5;
  visibility: hidden;
  display: none;
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contactBtn {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgb(224, 72, 72);
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  color: black;
}
#contactBtn:hover::after {
  content: "x";
}

.contact-box-link-pages {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-box-link-pages a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1px;
}

.linkedin-icon {
  width: 90px;
  height: 90px;
  text-decoration: none;
}

.linkedin-icon:hover::after {
  content: "Linkedin";
  color: white;
}

.github-icon {
  width: 90px;
  height: 90px;
  text-decoration: none;
}

.github-icon:hover::after {
  content: "GitHub";
  color: white;
}

.gmail-icon {
  width: 90px;
  height: 90px;
  cursor: pointer;
  text-decoration: none;
}

.gmail-icon:hover::after {
  content: "Gmail";
  color: white;
}

.instagram-icon {
  width: 90px;
  height: 90px;
  text-decoration: none;
}

.instagram-icon:hover::after {
  content: "Instagram";
  color: white;
}

/*  */

.linkedin-icon img {
  width: 90px;
}

.github-icon img {
  width: 90px;
}

.gmail-icon img {
  width: 90px;
}

.instagram-icon img {
  width: 90px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-top: 30px;
  border-radius: 32px;
}

nav a {
  color: black;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  align-content: center;
  transition: 0.5s ease-in;
}

nav a:first-child {
  font-weight: bold;
  font-size: 1.2em;
}

nav a:hover {
  font-size: 1.3em;
  transition: font-size 0.5s ease-out;
}

.contactBtn:hover {
  font-weight: normal;
  font-size: 1.3em;
}

.contactBtn:active {
  font-size: 1.2em;
  font-weight: bold;
}

main {
  grid-area: main;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  /* background-color: green; */
}

.left-div img {
  border-radius: 33px;
  box-shadow: 0px 0px 100px whitesmoke;
  animation: backgroundShadow 2s ease-in-out infinite alternate;
}

@keyframes backgroundShadow {
  from {
    opacity: 60%;
    transform: skewY(2deg);
  }
  to {
    opacity: 100%;
    transform: skewY(-2deg);
  }
}

.right-dev {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-name {
  font-size: 2.2em;
}

.user-cv {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.download-btn {
  border: 1px solid;
  border-radius: 9px;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.download-btn:hover {
  background-color: white;
  color: black;
  transition: background-color 0.4s ease-in;
}

footer {
  grid-area: footer;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.link-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-right: 10px;
}

.link-pages a img {
  width: 30px;
}

footer p {
  margin-right: 10px;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.05s ease;
  z-index: 9999;
  mix-blend-mode: difference;
}
